<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938602590443-r1uc33r0jpjtvd7fk9dafu0v73cdd7j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938602590443-r1uc33r0jpjtvd7fk9dafu0v73cdd7j8</string>
	<key>API_KEY</key>
	<string>AIzaSyCSKeW2_Owlc8h0zMAnXapT2iGYugo9NTo</string>
	<key>GCM_SENDER_ID</key>
	<string>938602590443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fish.Attendance2-0</string>
	<key>PROJECT_ID</key>
	<string>attendance-2c80e</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-2c80e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:938602590443:ios:40ac11e1dcc8f8d3</string>
	<key>DATABASE_URL</key>
	<string>https://attendance-2c80e.firebaseio.com</string>
</dict>
</plist>